.home {
  .myfeed_container {
    margin-top: -29px;
    animation: fadeIn 0.7s linear;
    h2 {
      padding-top: 5px;
      margin: 0px;
      padding: 19.2px 0px;
    }
    .feed_container {
      display: flex;
      .feed {
        background-color: #86b1e4;
        border-radius: 5% / 50%;
        margin: 0px 2px;

        width: 33%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h6 {
          color: black;
        }

        img {
          max-width: auto;
          max-height: 400px;
        }
      }
    }
  }
  .populer_feed {
    margin-top: 0px;
    animation: fadeIn 0.7s linear;

    h2 {
      margin: 0px;
      padding: 19.2px 0px;
    }
    .feed_container {
      display: flex;

      .feed {
        border-radius: 5% / 50%;
        background-color: #dde4ee;
        margin: 0px 2px;
        width: 33%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h6 {
          color: black;
        }
      }
    }
  }

  .new_post {
    animation: fadeIn 0.7s linear;
    .post_container {
      border-radius: 3% / 50%;
      margin: 0px 10px;
      background-color: #b8cae1;
      margin-bottom: 30px;

      display: flex;
      justify-content: center;
      text-align: center;
      a {
        color: black;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 0.8;
  }
}
