@import "./app.scss";
* {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.mypage {
  margin-left: 50px;
  margin-top: 25px;
  width: 100%;
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;

  .profile_cotainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;

    .profile {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin-bottom: 40px;
      flex-direction: column;
      text-align: center;
      align-items: center;
      border: 1px solid #5c8fc2;

      #user_icon {
        margin-top: 5px;
        font-size: 80px;
        color: rgba(1, 1, 1, 0.6);
      }

      h1 {
        margin: 0px;
      }
      a {
        color: gray;
        font-size: 12px;
      }
      table {
        font-size: 12px;
        text-align: justify;
      }
      td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
        font-size: 14px;
      }

      .box {
        background-color: #5c8fc2;
        width: 60px;
        height: 60px;
        border-radius: 70%;
        overflow: hidden;

        .box_profile {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .interests {
      background-color: white;
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: left;
      font-size: 12px;
      border: 1px solid #5c8fc2;
      table {
        text-align: justify;
      }
      td {
        padding-right: 10px;
      }
    }
  }
  .mypost_container {
    display: flex;
    width: 60%;
    height: 600px;
    flex-direction: column;
    ul {
      list-style: none;
    }
    .mypost {
      width: 85%;
    }
    .list {
      .list_item {
        margin-bottom: 30px;
        &:hover {
          background-color: #e3f0f8;
        }
        .content {
          clear: both;
          display: flex;
          border-bottom: 1px solid #5c8fc2;
          padding: 10px 5px;

          .post_image {
            width: 200px;
            height: 200px;
            margin-right: 24px;
            display: flex;
          }

          .box_content {
            overflow: hidden;
            margin-left: 24px;

            .link_title {
              color: black;
              text-decoration: none;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;

              .post_title {
                padding: 8px 0 4px 0;

                font-size: x-large;
              }
            }

            .post_info {
              padding-bottom: 20px;

              .userName {
                color: #5c8fc2;
                text-decoration: none;
                font-weight: 100;
              }
              .date {
                margin-left: 5px;
                padding-left: 9px;
                color: #5c8fc2;
              }
            }

            .post_text {
              max-height: 55px;
              margin-bottom: 20px;
              line-height: 26px;
              -webkit-line-clamp: 2;
            }
            .readMore {
              background: #1eb49f;
              display: block;
              width: 105px;
              height: 35px;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
    }

    .motto {
      position: relative;
      width: 85%;

      background-color: #cbdfec;
      text-align: center;
      color: white;
      font-size: 18px;
      padding: 30px 0px;
      margin-bottom: 20px;
    }
    .post_detail {
      position: relative;
      background-color: white;
      width: 100%;
      tbody {
        display: block;
        border-collapse: separate;

        text-align: center;
        tr {
          #title {
            font-weight: bold;
          }
        }
        td {
          padding: 10px 10px;
        }
        #body0,
        #body1,
        #body2,
        #body3 {
          border-top: 1px solid black;
        }
      }
    }
    .post_info {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }

  .change_info {
    display: flex;
    width: 10px;
    height: 10px;
  }

  .category {
    width: 11.5rem;
  }
}

.pagination-ul {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
  margin: 0 auto;
  position: absolute;
  width: 60%;
  //bottom: 25px;
  text-align: center;
  * {
    display: inline-block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    :hover {
      background-color: $BackGray;
      color: $fontWhite;
    }
  }
  .pageLabel-btn {
    width: 60px;
    margin: 0 5px;
    padding: 0;
    border: 1px solid $BackGray;
    * {
      width: 60px;
    }
    cursor: pointer;
  }
  .page-li {
    padding: 0;
    margin: 0 3px;
  }
  .currentPage {
    background-color: $BackSkyBlue;
    cursor: pointer;
    * {
      color: $fontWhite;
    }
  }
}
.post_btn {
  cursor: pointer;
  border: 1px solid #5c8fc2;
  border-radius: 10px;
}
