.post {
  background-color: whitesmoke;
  .post_header {
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    .division {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button_container {
        margin: 5px 5px;
        button {
          margin: 0 10px;
        }
      }
    }

    textarea {
      background-color: whitesmoke;
      display: block;
      width: 100%;
      border: none;
      font-size: 30px;
      color: #202020;
      font-family: sans-serif;
      resize: none;
      outline: 0 none;
      line-height: 40px;
      overflow: hidden;
      letter-spacing: -.4px;
    }
  }
  .post_content {
    margin-bottom: 20px;
    overflow: hidden;
    img {
      z-index: 10;
      margin : 30px 0;
      height: auto;
    }
  }
  .post_list {
    border-top: 3px solid black;
    border-bottom: 2px solid black;
  }

  
}
