.List_Container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  .category_list {
    margin-top: 80px;
    .list {
      ul {
        list-style: none;
      }

      .list_item {
        margin-bottom: 60px;

        .content {
          display: flex;
          .post_image {
            width: 200px;
            height: 200px;
            margin-right: 24px;
          }

          .box_content {
            overflow: hidden;
            width: 600px;
            .link_title {
              color: #111;
              font-weight: bold;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            .post_info {
              padding-bottom: 20px;
              font-family: Arial, Helvetica, sans-serif;

              .userName {
                color: #888;
                text-decoration: underline;
              }
              .date {
                margin-left: 5px;
                padding-left: 9px;
                color: #888;
              }
            }

            .post_text {
              max-height: 55px;
              margin-bottom: 20px;
              line-height: 26px;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              word-wrap: break-word;
            }
            .readMore {
              background: #1eb49f;
              display: block;
              width: 105px;
              height: 35px;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
      .none_posting {
        color: #888;
        font-size: x-large;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
