.big_container {
  margin-top: 50px;
  font-size: 30px;
  .logo_area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  input {
    font-size: 25px;
  }
  .gender-box {
    input [type="radio"] {
      margin-left: 20px;
    }
  }
  button {
    padding: 5px 20px;
    background-color: #5c8fc2;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    border-radius: 15px;
  }
}
th {
  font-weight: normal;
}
select {
  font-size: 25px;
}
.Email_auth {
  margin-left: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  input {
    margin: 0 27px;
  }
  .warning {
    font-size: 13px;
    color: red;
  }
  .checked {
    font-size: 13px;
    color: blue;
    font-weight: bolder;
  }
}
.auth_num {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  input {
    margin: 0 27px;
  }
}
.register_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  label {
    margin-right: 50px;
  }
  button {
    align-items: center;
  }

  .woman {
    margin-left: 40px;
  }

  input {
    width: 280px;
  }
  select {
    width: 280px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
  }
}

table {
  text-align: left;
  border-spacing: 20px 20px;
}
