.big_container {
  margin-top: 50px;
  font-size: 30px;
  input {
    font-size: 25px;
  }
  .gender-box {
    input [type="radio"] {
      margin-left: 20px;
    }
  }
  button {
    padding: 5px 20px;
    background-color: #5c8fc2;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    border-radius: 15px;
  }
}
th {
  font-weight: normal;
}
select {
  font-size: 25px;
}
.Email_auth {
  margin-left: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  input {
    margin: 0 27px;
  }
  h6 {
    font-size: 13px;
    color: red;
  }
}
.register_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  label {
    margin-right: 50px;
  }
  button {
    align-items: center;
  }
}

table {
  text-align: left;
  border-spacing: 20px 20px;
}
