@import "./app.scss";
.topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #5c8fc2;
  animation: fadeInY 0.8s linear;
  position: fixed;
  padding: 25px 20px 15px 35px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;

  .logo_area {
    width: 180px;
    :hover {
      cursor: pointer;
    }
  }
}
.bar_logo a {
  font-weight: 600;
  font-size: 24px;
  text-decoration: double;
}
.search_logo {
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
  padding: 4px 8px;
  color: #5c8fc2;
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.bar_search {
  display: flex;
  align-items: center;
  width: 250px;

  input {
    display: block;
    width: 100%;
    padding: 7px 7px;
    margin-left: -60px;
    margin-right: 3px;
    border-style: none;
    border-bottom: 1px solid #5c8fc2;
    background-color: white;
    font-size: 18px;
  }
}

.bar_info {
  display: flex;
  align-items: center;
  margin-right: 100px;

  .small_btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    font-family: "IBMPlexSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
      format("woff");
    color: #5c8fc2;
    font-size: 18px;
    margin-right: 8px;
    padding: 3px 5px;
    cursor: pointer;

    &:hover {
      background-color: #87beeb;
      color: white;
    }
  }
}

.bar_info .account_logo {
  background-color: transparent;
  color: #5c8fc2;

  cursor: pointer;

  &:hover {
    color: #c4c2c2;
  }
}
@keyframes fadeInY {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 0.8;
  }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.unvisible {
  display: none;
}
