@import "./app.scss";

.topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  background-color: #5c8fc2;
  animation: fadeInY 0.8s linear;
  position: fixed;
  padding: 10px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;

  .logo_area {
    width: 180px;
    :hover {
      cursor: pointer;
    }
  }
}
.bar_logo a {
  font-weight: 600;
  font-size: 23px;
  text-decoration: double;
}

.logo {
  font-size: 35px;
}

.bar_search {
  display: flex;
  align-items: center;
  width: 250px;

  input {
    display: block;
    width: 100%;
    padding: 7px 3px;
    margin-right: 3px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
  }
}

.bar_info {
  display: flex;
  align-items: center;
  margin-right: 50px;

  .small_btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #5c8fc2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: $x-large;
    color: #e2e2e2;
    margin-right: 8px;
    padding: 3px 5px;
    cursor: pointer;

    &:hover {
      color: #c4c2c2;
    }
  }
}

.bar_info .account_logo {
  background-color: transparent;
}
@keyframes fadeInY {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 0.8;
  }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.unvisible {
  display: none;
}
